name: Build (Linux)

on:
  push:
    branches: [ main ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Fortran compiler
        run: |
          sudo apt-get update
          sudo apt-get install -y gfortran cmake

      - name: Configure
        run: cmake -B build -S source -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build
